/* PC */
.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.row.no-gutters {
    margin-left: 0;
    margin-right: 0;
}

.col {
    padding-left: 5px;
    padding-right: 5px;
}

.row.no-gutters .col {
    padding-left: 0;
    padding-right: 0;
}

.c-0 {
    display: none;
}

.c-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.c-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.c-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
}

.c-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.c-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.c-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.c-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.c-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.c-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.c-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.c-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.c-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.c-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.c-o-1 {
    margin-left: 8.33333%;
}

.c-o-2 {
    margin-left: 16.66667%;
}

.c-o-3 {
    margin-left: 25%;
}

.c-o-4 {
    margin-left: 33.33333%;
}

.c-o-5 {
    margin-left: 41.66667%;
}

.c-o-6 {
    margin-left: 50%;
}

.c-o-7 {
    margin-left: 58.33333%;
}

.c-o-8 {
    margin-left: 66.66667%;
}

.c-o-9 {
    margin-left: 75%;
}

.c-o-10 {
    margin-left: 83.33333%;
}

.c-o-11 {
    margin-left: 91.66667%;
}

/* tablet */
@media (max-width: 1023px){
    .grid.wide {
        max-width: 900px;
        margin: 0 auto;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -8px;
        margin-right: -8px;
        padding: 0 4px;
    }
    
    .row.no-gutters {
        margin-left: 0;
        margin-right: 0;
    }
    
    .col {
        padding-left: 8px;
        padding-right: 8px;
    }
    
    .row.no-gutters .col {
        padding-left: 0;
        padding-right: 0;
    }
    
    .t-0 {
        display: none;
    }
    
    .t-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    
    .t-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    
    .t-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    
    .t-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .t-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    
    .t-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    
    .t-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .t-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    
    .t-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    
    .t-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .t-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    
    .t-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    
    .t-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    .t-o-1 {
        margin-left: 8.33333%;
    }
    
    .t-o-2 {
        margin-left: 16.66667%;
    }
    
    .t-o-3 {
        margin-left: 25%;
    }
    
    .t-o-4 {
        margin-left: 33.33333%;
    }
    
    .t-o-5 {
        margin-left: 41.66667%;
    }
    
    .t-o-6 {
        margin-left: 50%;
    }
    
    .t-o-7 {
        margin-left: 58.33333%;
    }
    
    .t-o-8 {
        margin-left: 66.66667%;
    }
    
    .t-o-9 {
        margin-left: 75%;
    }
    
    .t-o-10 {
        margin-left: 83.33333%;
    }
    
    .t-o-11 {
        margin-left: 91.66667%;
    }
}


/* mobile */
@media (max-width: 739px){
    .grid.wide {
        max-width: 600px;
        margin: 0 auto;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -4px;
        margin-right: -4px;
        padding: 0 4px;
    }
    
    .row.no-gutters {
        margin-left: 0;
        margin-right: 0;
    }
    
    .col {
        padding-left: 4px;
        padding-right: 4px;
    }
    
    .row.no-gutters .col {
        padding-left: 0;
        padding-right: 0;
    }
    
    .m-0 {
        display: none;
    }
    
    .m-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    
    .m-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    
    .m-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    
    .m-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    
    .m-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    
    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .m-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    
    .m-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    
    .m-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .m-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    
    .m-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    
    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    .m-o-1 {
        margin-left: 8.33333%;
    }
    
    .m-o-2 {
        margin-left: 16.66667%;
    }
    
    .m-o-3 {
        margin-left: 25%;
    }
    
    .m-o-4 {
        margin-left: 33.33333%;
    }
    
    .m-o-5 {
        margin-left: 41.66667%;
    }
    
    .m-o-6 {
        margin-left: 50%;
    }
    
    .m-o-7 {
        margin-left: 58.33333%;
    }
    
    .m-o-8 {
        margin-left: 66.66667%;
    }
    
    .m-o-9 {
        margin-left: 75%;
    }
    
    .m-o-10 {
        margin-left: 83.33333%;
    }
    
    .m-o-11 {
        margin-left: 91.66667%;
    }
}

/* extra */
@media (min-width: 1023px) and (max-width: 1239px){
    .wide {
        width: 984px;
    }
}

@media (min-width: 740px) and (max-width: 1023px){
    .wide {
        max-width: 860px;
    }
}